{% extends 'casting/base.html' %}

{% block title %}Strona Główna Casting Hub{% endblock %}

{% block content %}
  <h1 style="font-size: 5rem; letter-spacing: 0.1em;">CastingHub</h1>
  <p style="font-size: 2rem;">Potrzebujesz modeli?</p>

  <p>Zarejestruj się jako Director!</p>
  <p>Dodawaj swoje oferty, kierowane do modeli</p>
  <p>Przeglądaj profile modeli chętnych do pracy w twoim projekcie</p>
  <p>Z łatwością akceptuj aplikacje modeli oraz łap kontakty!</p>

  <p style="font-size: 2rem;">Jesteś modelem?</p>
  <p>Zarejestruj się jako Model!</p>
  <p>Przeglądaj oferty bezpośrednio od Directorów</p>
  <p>Aplikuj do projektów</p>
  <p>Po zatwierdzeniu Twojej aplikacji łap kontakty!</p>

{% endblock %}