{% extends 'casting/base.html' %}

{% block title %}Lista ofert castingu{% endblock %}

{% block content %}
  <h1>Lista ofert castingu</h1>
  {% if offers %}
    <ul>
      {% for offer in offers %}
        <li>
          <a href="{% url 'offer_detail' offer.id %}">{{ offer.title }}</a> – {{ offer.location }}
          {% if user.is_authenticated %}
            {% if user.model_profile %}
              {% if offer.id in applied_offer_ids %}
                <span>(zaaplikowano)</span>
              {% else %}
                <a class="button" href="{% url 'apply_offer' offer.id %}">Aplikuj</a>
              {% endif %}
            {% elif user.director_profile %}
                {% if offer.director == user.director_profile %}
                  <a class="button" href="{% url 'view_applications' offer.id %}">Zobacz aplikacje</a>
                {% endif %}
            {% endif %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Brak ofert castingu.</p>
  {% endif %}
{% endblock %}