{% extends 'casting/base.html' %}

{% block title %}{{ offer.title }}{% endblock %}

{% block content %}
  <h1>{{ offer.title }}</h1>
  <p><strong>Data:</strong> {{ offer.offer_date }}</p>
  <p><strong>Lokalizacja:</strong> {{ offer.location }}</p>
  <p><strong>Opis:</strong> {{ offer.description }}</p>
  <p><strong>Wymagania:</strong> {{ offer.requirements }}</p>

  {% if user.is_authenticated and user.model_profile %}
    {% if already_applied %}
      <p>Już aplikowałeś na tę ofertę.</p>
      {% if offer.director and offer.director.user.email %}
        <p>Skontaktuj się z casting director: {{ offer.director.user.email }}</p>
      {% endif %}
    {% else %}
      <a class="button" href="{% url 'apply_offer' offer.id %}">Aplikuj na tę ofertę</a>
    {% endif %}
  {% elif user.is_authenticated and user.director_profile %}
      {% if offer.director == user.director_profile %}
        <a class="button" href="{% url 'view_applications' offer.id %}">Zobacz aplikacje</a>
      {% endif %}
  {% endif %}

  <a href="{% url 'offers_list' %}">Powrót do listy ofert</a>
{% endblock %}