<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mowa Kwiatów{% endblock %}</title>
    <style>
        body {
            font-family: sans-serif;
            max-width: 800px;
            margin: auto;
            padding: 30px;
        }
        .flower {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <header>
        <h1><a href="/">Mowa Kwiatów</a></h1>
        <nav>
            <a href="{% url 'home' %}">Strona główna</a> |
            <a href="{% url 'dictionary' %}">Słownik</a> |
            <a href="{% url 'planner' %}">Planer bukietu</a> |
            <a href="{% url 'bouquet' %}">Mój bukiet</a> |

            {% if user.is_authenticated %}
                <a href="{% url 'my_bouquets' %}">Moje bukiety</a> |
                <a href="{% url 'logout' %}">Wyloguj</a>
            {% else %}
                <a href="{% url 'login' %}">Logowanie</a> |
                <a href="{% url 'register' %}">Rejestracja</a>
            {% endif %}
        </nav>
        <hr>
    </header>

    {% block content %}
    {% endblock %}

    {% block extra_scripts %}
    {% endblock %}

</body>
</html>