{% extends "base.html" %}

{% block title %}Strona główna - Mowa Kwiatów{% endblock %}

{% block content %}
    <h2>Witamy w projekcie „Mowa Kwiatów”</h2>
    <p>
        W epoce wiktoriańskiej kwiaty nie były tylko ozdobą – stanowiły sposób komunikacji.
        Każdy kwiat niósł ze sobą znaczenie, uczucie lub wiadomość.
    </p>
    <p>
        Chcemy wrócić do tej subtelnej sztuki. 
        Twórz z nami <strong>analogowe, znaczeniowe bukiety</strong>, które wyrażą to, co czujesz – bez słów,
        bez trendów, bez algorytmów.
    </p>
    <p>
        Skorzystaj ze <a href="{% url 'dictionary' %}">słownika kwiatów</a> lub przejdź do planowania bukietu!
    </p>
{% endblock %}